$primary: #D92142;
$light: #EAE5E5;
$dark: #000;
$font-family-base: 'lato',
sans-serif;
$navbar-toggler-font-size: 1.75rem;
$navbar-light-color: $primary;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-light-toggler-border-color: #fff;